@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PretendardVariable';
  src: url('/Font/PretendardVariable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
